@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus, .reglog-form button:focus,
a:active,
.reglog-form button:active {
  outline: none;
}

article {
  background-size: cover;
}

/* Links */
a, .reglog-form button, a:link, a:visited {
  text-decoration: none;
}

a:hover, .reglog-form button:hover {
  color: inherit;
  text-decoration: none;
}

/* Common */
aside, footer, section {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

a, .reglog-form button, a:link, a:visited {
  text-decoration: none;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: #F2F2F2;
  font-family: "Helvetica Neue", sans-serif;
}

.base-btn {
  border: 1px solid #0D0D0D;
  color: #0D0D0D;
  padding: 5px 20px;
  border-radius: 20px;
  transition: 0.2s ease;
}
.base-btn:hover {
  background-color: rgb(230, 230, 230);
}

.container {
  max-width: 70%;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 80%;
  }
}
@media (max-width: 800px) {
  .container {
    max-width: 90%;
  }
}

header {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  font-size: 27px;
}
header .right-buttons {
  display: flex;
  align-items: center;
}
header .right-buttons .toggle-theme-btn {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
header .right-buttons #toggle-theme {
  opacity: 0;
}
header .right-buttons .checkbox-label {
  background-color: #F2F2F2;
  border: 1px solid #0D0D0D;
  width: 68px;
  height: 34px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .right-buttons .checkbox-label--dark {
  background-color: #0D0D0D;
  border: 1px solid #F2F2F2;
}
header .right-buttons .fa-moon {
  color: #f1c40f;
}
header .right-buttons .fa-sun {
  color: #f39c12;
}
header .right-buttons .checkbox-label .ball {
  background-color: #0D0D0D;
  width: 31px;
  height: 30px;
  position: absolute;
  left: 2px;
  top: 1px;
  border-radius: 50%;
  transition: transform 0.1s linear;
}
header .right-buttons .ball--dark {
  background-color: #F2F2F2 !important;
}
header .right-buttons #toggle-theme:checked + .checkbox-label .ball {
  transform: translateX(31px);
}
header .guide-btn {
  padding: 5px 15px;
}
@media (max-width: 800px) {
  header .guide-btn {
    padding: 5px 12px;
  }
}
@media (max-width: 600px) {
  header .guide-btn {
    padding: 5px 10px;
  }
}
@media (max-width: 400px) {
  header .guide-btn {
    padding: 3px 8px;
  }
}
header .search {
  width: 50%;
  border-bottom: 1px solid #a1a1a1;
}
@media (max-width: 1600px) {
  header {
    font-size: 26px;
  }
}
@media (max-width: 1400px) {
  header {
    font-size: 24px;
  }
}
@media (max-width: 1200px) {
  header {
    font-size: 22px;
  }
}
@media (max-width: 1000px) {
  header {
    font-size: 20px;
  }
}
@media (max-width: 800px) {
  header {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  header {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  header {
    font-size: 15px;
  }
}

.dark {
  background-color: black;
  color: white;
}

.dark-button {
  border: 1px solid #F2F2F2;
  color: #F2F2F2;
}
.dark-button img {
  color: #F2F2F2;
}

main {
  display: flex;
  width: 100%;
  position: relative;
}
main .paste {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 30px auto;
}
main .paste #mytextarea {
  min-height: 70vh;
  height: 70vh;
}
main .paste input::-moz-placeholder, main .paste textarea::-moz-placeholder {
  color: #a1a1a1;
  font-weight: 300;
}
main .paste input::placeholder, main .paste textarea::placeholder {
  color: #a1a1a1;
  font-weight: 300;
}
main .paste__title {
  font-size: 30px;
  margin-bottom: 10px;
}
@media (max-width: 1600px) {
  main .paste__title {
    font-size: 28px;
  }
}
@media (max-width: 1400px) {
  main .paste__title {
    font-size: 26px;
  }
}
@media (max-width: 1200px) {
  main .paste__title {
    font-size: 24px;
  }
}
@media (max-width: 1000px) {
  main .paste__title {
    font-size: 22px;
    margin-bottom: 5px;
  }
}
@media (max-width: 800px) {
  main .paste__title {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  main .paste__title {
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  main .paste__title {
    font-size: 16px;
  }
}
main .paste__author {
  font-size: 18px;
  margin-bottom: 20px;
}
@media (max-width: 1600px) {
  main .paste__author {
    font-size: 18px;
  }
}
@media (max-width: 1400px) {
  main .paste__author {
    font-size: 17px;
  }
}
@media (max-width: 1200px) {
  main .paste__author {
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  main .paste__author {
    font-size: 15px;
    margin-bottom: 10px;
  }
}
@media (max-width: 800px) {
  main .paste__author {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  main .paste__author {
    font-size: 13px;
  }
}
@media (max-width: 400px) {
  main .paste__author {
    font-size: 12px;
  }
}
main .paste__text {
  font-size: 23px;
  min-height: 55vh;
  resize: none;
}

footer {
  position: absolute;
  right: 7%;
  bottom: 5%;
  font-size: 27px;
  display: flex;
  justify-content: end;
}
footer select {
  margin-right: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #0D0D0D;
}
@media (max-width: 1000px) {
  footer select {
    padding: 5px;
    margin-right: 15px;
  }
}
@media (max-width: 600px) {
  footer select {
    padding: 3px;
    margin-right: 10px;
  }
}
footer .select--dark {
  border-bottom: 1px solid #F2F2F2;
}
footer .select--dark option {
  color: #0D0D0D;
}
footer .base-btn {
  margin-right: 15px;
}
@media (max-width: 1000px) {
  footer .base-btn {
    padding: 5px 15px;
  }
}
@media (max-width: 600px) {
  footer .base-btn {
    padding: 3px 10px;
  }
  footer .base-btn img {
    width: 23px;
  }
}
@media (max-width: 1600px) {
  footer {
    font-size: 25px;
  }
}
@media (max-width: 1400px) {
  footer {
    font-size: 23px;
  }
}
@media (max-width: 1200px) {
  footer {
    font-size: 21px;
  }
}
@media (max-width: 1000px) {
  footer {
    font-size: 19px;
  }
}
@media (max-width: 800px) {
  footer {
    font-size: 17px;
  }
}
@media (max-width: 600px) {
  footer {
    font-size: 15px;
    right: 3%;
    bottom: 3%;
  }
}
@media (max-width: 400px) {
  footer {
    font-size: 13px;
    right: 1%;
  }
}

.reglog-form {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
.reglog-form h1 {
  font-size: 45px;
  margin-bottom: 50px;
}
@media (max-width: 1600px) {
  .reglog-form h1 {
    font-size: 42px;
  }
}
@media (max-width: 1400px) {
  .reglog-form h1 {
    font-size: 39px;
  }
}
@media (max-width: 1200px) {
  .reglog-form h1 {
    font-size: 36px;
  }
}
@media (max-width: 1000px) {
  .reglog-form h1 {
    font-size: 33px;
  }
}
@media (max-width: 800px) {
  .reglog-form h1 {
    font-size: 31px;
  }
}
@media (max-width: 600px) {
  .reglog-form h1 {
    font-size: 29px;
  }
}
@media (max-width: 400px) {
  .reglog-form h1 {
    font-size: 23px;
  }
}
.reglog-form__input {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 15px;
  padding-bottom: 3px;
  width: 100%;
  border-bottom: 1px solid #a1a1a1;
}
@media (max-width: 1600px) {
  .reglog-form__input {
    font-size: 21px;
  }
}
@media (max-width: 1400px) {
  .reglog-form__input {
    font-size: 20px;
  }
}
@media (max-width: 1200px) {
  .reglog-form__input {
    font-size: 19px;
  }
}
@media (max-width: 1000px) {
  .reglog-form__input {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .reglog-form__input {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .reglog-form__input {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  .reglog-form__input {
    font-size: 14px;
  }
}
.reglog-form .buttons {
  margin: 5px auto 0;
}
.reglog-form .link-dark {
  color: #F2F2F2;
  border: none;
  border-bottom: 1px solid #F2F2F2;
}
.reglog-form a, .reglog-form button {
  color: #0D0D0D;
  border-bottom: 1px solid #a1a1a1;
  font-size: 18px;
  margin: 0 5px;
}
@media (max-width: 1600px) {
  .reglog-form a, .reglog-form button {
    font-size: 17px;
  }
}
@media (max-width: 1200px) {
  .reglog-form a, .reglog-form button {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .reglog-form a, .reglog-form button {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  .reglog-form a, .reglog-form button {
    font-size: 14px;
  }
}
.reglog-form .reglog-form__link {
  margin: 5px auto 0;
}

.login-btn--help {
  margin-left: auto;
}

.pastes-catalog {
  width: 70%;
  margin: 10vh auto 0px;
  display: flex;
  flex-direction: column;
}
.pastes-catalog .paste-item {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 25px;
}
.pastes-catalog .paste-item__date {
  color: #a1a1a1;
  margin-right: 10px;
}
@media (max-width: 800px) {
  .pastes-catalog .paste-item__date {
    margin-right: 7px;
  }
}
@media (max-width: 600px) {
  .pastes-catalog .paste-item__date {
    margin-right: 5px;
  }
}
@media (max-width: 400px) {
  .pastes-catalog .paste-item__date {
    margin-right: 3px;
  }
}
.pastes-catalog .paste-item__vertical-line {
  color: #a1a1a1;
  margin-right: 10px;
}
@media (max-width: 800px) {
  .pastes-catalog .paste-item__vertical-line {
    margin-right: 7px;
  }
}
@media (max-width: 600px) {
  .pastes-catalog .paste-item__vertical-line {
    margin-right: 5px;
  }
}
@media (max-width: 400px) {
  .pastes-catalog .paste-item__vertical-line {
    margin-right: 3px;
  }
}
.pastes-catalog .paste-item__title {
  margin-right: 30px;
}
@media (max-width: 800px) {
  .pastes-catalog .paste-item__title {
    margin-right: 20px;
  }
}
@media (max-width: 600px) {
  .pastes-catalog .paste-item__title {
    margin-right: 12px;
  }
}
@media (max-width: 400px) {
  .pastes-catalog .paste-item__title {
    margin-right: 8px;
  }
}
@media (max-width: 800px) {
  .pastes-catalog .paste-item__edit-btn {
    padding: 5px 15px;
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .pastes-catalog .paste-item__edit-btn {
    padding: 5px 12px;
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .pastes-catalog .paste-item__edit-btn {
    padding: 3px 10px;
    font-size: 14px;
  }
}
.pastes-catalog .paste-item__delite-btn img {
  height: 35px;
  margin-left: 10px;
}
@media (max-width: 800px) {
  .pastes-catalog .paste-item__delite-btn img {
    height: 30px;
  }
}
@media (max-width: 600px) {
  .pastes-catalog .paste-item__delite-btn img {
    height: 25px;
  }
}
@media (max-width: 400px) {
  .pastes-catalog .paste-item__delite-btn img {
    height: 20px;
  }
}
@media (max-width: 1600px) {
  .pastes-catalog .paste-item {
    font-size: 28px;
  }
}
@media (max-width: 1400px) {
  .pastes-catalog .paste-item {
    font-size: 26px;
  }
}
@media (max-width: 1200px) {
  .pastes-catalog .paste-item {
    font-size: 24px;
  }
}
@media (max-width: 1000px) {
  .pastes-catalog .paste-item {
    font-size: 22px;
  }
}
@media (max-width: 800px) {
  .pastes-catalog .paste-item {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .pastes-catalog .paste-item {
    font-size: 17px;
    margin-bottom: 15px;
  }
}
@media (max-width: 400px) {
  .pastes-catalog .paste-item {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
@media (max-width: 800px) {
  .pastes-catalog {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .pastes-catalog {
    width: 90%;
  }
}
@media (max-width: 400px) {
  .pastes-catalog {
    width: 94%;
  }
}/*# sourceMappingURL=main.css.map */