* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus, .reglog-form button:focus,
a:active,
.reglog-form button:active {
  outline: none;
}

article {
  background-size: cover;
}

/* Links */
a, .reglog-form button, a:link, a:visited {
  text-decoration: none;
}

a:hover, .reglog-form button:hover {
  color: inherit;
  text-decoration: none;
}

/* Common */
aside, footer, section {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

a, .reglog-form button, a:link, a:visited {
  text-decoration: none;
}

body {
  position: relative;
  background-color: #F2F2F2;
  font-family: "Helvetica Neue", sans-serif;
}

.base-btn {
  border: 1px solid #0D0D0D;
  color: #0D0D0D;
  padding: 5px 20px;
  border-radius: 20px;
  transition: 0.2s ease;
}
.base-btn:hover {
  background-color: rgb(230, 230, 230);
}

.container {
  position: relative;
  max-width: 70%;
  margin: 0 auto;
}

header {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  font-size: 27px;
}
header .guide-btn {
  padding: 5px 15px;
}
header .search {
  width: 50%;
  border-bottom: 1px solid #a1a1a1;
}

.dark {
  background-color: black;
  color: white;
}

.paste {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 30px auto;
}
.paste input::-moz-placeholder, .paste textarea::-moz-placeholder {
  color: #a1a1a1;
  font-weight: 300;
}
.paste input::placeholder, .paste textarea::placeholder {
  color: #a1a1a1;
  font-weight: 300;
}
.paste__title {
  font-size: 30px;
  margin-bottom: 10px;
}
.paste__author {
  font-size: 18px;
  margin-bottom: 20px;
}
.paste__text {
  font-size: 23px;
  min-height: 55vh;
  resize: none;
}

footer {
  position: absolute;
  right: 0%;
  bottom: -25%;
  font-size: 27px;
  display: flex;
  justify-content: end;
}
footer select {
  margin-right: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #0D0D0D;
}
footer .base-btn {
  margin-right: 15px;
}

.reglog-form {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
.reglog-form h1 {
  font-size: 45px;
  margin-bottom: 50px;
}
.reglog-form__input {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 15px;
  padding-bottom: 3px;
  width: 100%;
  border-bottom: 1px solid #a1a1a1;
}
.reglog-form .buttons {
  margin: 5px auto 0;
}
.reglog-form a, .reglog-form button {
  color: #0D0D0D;
  border-bottom: 1px solid #a1a1a1;
  font-size: 18px;
  margin: 0 5px;
}
.reglog-form .reglog-form__link {
  margin: 5px auto 0;
}

.login-btn--help {
  margin-left: auto;
}

.pastes-catalog {
  width: 70%;
  margin: 10vh auto 0px;
}
.pastes-catalog .paste-item {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 25px;
}
.pastes-catalog .paste-item__date {
  color: #a1a1a1;
  margin-right: 10px;
}
.pastes-catalog .paste-item__vertical-line {
  color: #a1a1a1;
  margin-right: 10px;
}
.pastes-catalog .paste-item__title {
  margin-right: 30px;
}
.pastes-catalog .paste-item__delite-btn img {
  height: 35px;
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */