@import './reset';
@import './base';
@import './animation';
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");


// Functions
@function weight($weight-name) {
	@return map-get($font-weights, $weight-name)
};


// Mixins
@mixin flexCenter ($direction: row) {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: $direction;
}

@mixin theme ($dark-theme: false) {
	@if $dark-theme {
		background-color: darken($background-color, 100%);
		color: lighten($primary-color, 100%);
	}
}


// ===HEADER===
header {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	font-size: 27px;

	.right-buttons {
		display: flex;
		align-items: center;

		.toggle-theme-btn{
			margin-right: 10px;
			display: flex;
			align-items: center;
		}

		#toggle-theme {
			opacity: 0;
		  }
		  
		.checkbox-label {
			background-color: $background-color;
			border: 1px solid $primary-color;
			width: 68px;
			height: 34px;
			border-radius: 50px;
			position: relative;
			padding: 5px;
			cursor: pointer;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.checkbox-label--dark {
			background-color: $primary-color;
			border: 1px solid $background-color;
		}
		
		.fa-moon {
			color: #f1c40f;
		}
		
		.fa-sun {
			color: #f39c12;
		}
		
		.checkbox-label .ball {
			background-color: $primary-color;
			width: 31px;
			height: 30px;
			position: absolute;
			left: 2px;
			top: 1px;
			border-radius: 50%;
			transition: transform 0.1s linear;
		}

		.ball--dark {
			background-color: $background-color !important;
		}
		
		#toggle-theme:checked + .checkbox-label .ball {
			transform: translateX(31px);
		}
	}


	.guide-btn {
		padding: 5px 15px;

		@media (max-width: 800px) {
			padding: 5px 12px;
		}
	
		@media (max-width: 600px) {
			padding: 5px 10px;
		}
	
		@media (max-width: 400px) {
			padding: 3px 8px;
		}
	}

	// my pastes page
	.search {
		width: 50%;
		border-bottom: 1px solid $second-color;
	}


	@media (max-width: 1600px) {
		font-size: 26px;
	}

	@media (max-width: 1400px) {
		font-size: 24px;
	}

	@media (max-width: 1200px) {
		font-size: 22px;
	}

	@media (max-width: 1000px) {
		font-size: 20px;
	}

	@media (max-width: 800px) {
		font-size: 18px;
	}

	@media (max-width: 600px) {
		font-size: 16px;
	}

	@media (max-width: 400px) {
		font-size: 15px;
	}
}


// helper classes
.dark {
	@include theme($dark-theme: true)
}

.dark-button {
	border: 1px solid $background-color;
	color: $background-color;

	img {
		color: $background-color;
	}
}


main {
	display: flex;
	width: 100%;
	position: relative;


	// ===CREATE NEW PASTE===
	.paste {
		display: flex;
		flex-direction: column;
		width: 70%;
		margin: 30px auto;

		#mytextarea{
			min-height: 70vh;
			height: 70vh;
		}

		input::placeholder, textarea::placeholder{
			color: $second-color;
			font-weight: weight(tiny);
		}

		&__title {
			font-size: 30px;
			margin-bottom: 10px;

			@media (max-width: 1600px) {
				font-size: 28px;
			}
		
			@media (max-width: 1400px) {
				font-size: 26px;
			}
		
			@media (max-width: 1200px) {
				font-size: 24px;
			}
		
			@media (max-width: 1000px) {
				font-size: 22px;
				margin-bottom: 5px;
			}
		
			@media (max-width: 800px) {
				font-size: 20px;
			}
		
			@media (max-width: 600px) {
				font-size: 18px;
			}
		
			@media (max-width: 400px) {
				font-size: 16px;
			}
		}
		
		&__author {
			font-size: 18px;
			margin-bottom: 20px;

			@media (max-width: 1600px) {
				font-size: 18px;
			}
		
			@media (max-width: 1400px) {
				font-size: 17px;
			}
		
			@media (max-width: 1200px) {
				font-size: 16px;
			}
		
			@media (max-width: 1000px) {
				font-size: 15px;
				margin-bottom: 10px;
			}
		
			@media (max-width: 800px) {
				font-size: 14px;
			}
		
			@media (max-width: 600px) {
				font-size: 13px;
			}
		
			@media (max-width: 400px) {
				font-size: 12px;
			}
		}

		&__text {
			font-size: 23px;
			min-height: 55vh;
			resize: none;
		}
	}
}



footer {
	position: absolute;
	right: 7%;
	bottom: 5%;
	font-size: 27px;
	display: flex;
	justify-content: end;

	select {
		margin-right: 20px;
		appearance: none;
		cursor: pointer;
		padding: 10px;
		border-bottom: 1px solid $primary-color;
	
		@media (max-width: 1000px) {
			padding: 5px;
			margin-right: 15px;
		}
	
		@media (max-width: 600px) {
			padding: 3px;
			margin-right: 10px;
		}
	}

	.select--dark {
		border-bottom: 1px solid $background-color;

		option {
			color: $primary-color;
		}
	}

	.base-btn{
		margin-right: 15px;

		@media (max-width: 1000px) {
			padding: 5px 15px;
		}
	
		@media (max-width: 600px) {
			padding: 3px 10px;

			img {
				width: 23px;
			}
		}
	}


	@media (max-width: 1600px) {
		font-size: 25px;
	}

	@media (max-width: 1400px) {
		font-size: 23px;
	}

	@media (max-width: 1200px) {
		font-size: 21px;
	}

	@media (max-width: 1000px) {
		font-size: 19px;
	}

	@media (max-width: 800px) {
		font-size: 17px;
	}

	@media (max-width: 600px) {
		font-size: 15px;
		right: 3%;
		bottom: 3%;
	}

	@media (max-width: 400px) {
		font-size: 13px;
		right: 1%;
	}
}



// Login
.reglog-form{
	height: 50vh;
	@include flexCenter(column);
	align-items: start;
	margin: 0 auto;
	width: fit-content;

	h1 {
		font-size: 45px;
		margin-bottom: 50px;

		@media (max-width: 1600px) {
			font-size: 42px;
		}
	
		@media (max-width: 1400px) {
			font-size: 39px;
		}
	
		@media (max-width: 1200px) {
			font-size: 36px;
		}
	
		@media (max-width: 1000px) {
			font-size: 33px;
		}
	
		@media (max-width: 800px) {
			font-size: 31px;
		}
	
		@media (max-width: 600px) {
			font-size: 29px;
		}

		@media (max-width: 400px) {
			font-size: 23px;
		}
	}

	&__input {
		font-size: 22px;
		font-weight: weight(tiny);
		margin-bottom: 15px;
		padding-bottom: 3px;
		width: 100%;
		border-bottom: 1px solid $second-color;

		@media (max-width: 1600px) {
			font-size: 21px;
		}
	
		@media (max-width: 1400px) {
			font-size: 20px;
		}
	
		@media (max-width: 1200px) {
			font-size: 19px;
		}
	
		@media (max-width: 1000px) {
			font-size: 18px;
		}
	
		@media (max-width: 800px) {
			font-size: 16px;
		}
	
		@media (max-width: 600px) {
			font-size: 15px;
		}

		@media (max-width: 400px) {
			font-size: 14px;
		}
	}

	.buttons{
		margin: 5px auto 0;
	}

	.link-dark {
		color: $background-color;
		border: none;
		border-bottom: 1px solid $background-color;
	}

	a {
		color: $primary-color;
		border-bottom: 1px solid $second-color;
		font-size: 18px;
		margin: 0 5px;


		@media (max-width: 1600px) {
			font-size: 17px;
		}
	
		@media (max-width: 1200px) {
			font-size: 16px;
		}
	
		@media (max-width: 800px) {
			font-size: 15px;
		}

		@media (max-width: 400px) {
			font-size: 14px;
		}
	}

	button {
		@extend a;
	}

	.reglog-form__link{
		margin: 5px auto 0;
	}
}



// Help page
.login-btn--help {
	margin-left: auto;
}




.pastes-catalog {
	width: 70%;
	margin: 10vh auto 0px;
	display: flex;
	flex-direction: column;

	.paste-item{
		display: flex;
		align-items: center;
		font-size: 30px;
		font-weight: weight(tiny);
		margin-bottom: 25px;


		&__date {
			color: $second-color;
			margin-right: 10px;

			@media (max-width: 800px) {
				margin-right: 7px;
			}
		
			@media (max-width: 600px) {
				margin-right: 5px;
			}
	
			@media (max-width: 400px) {
				margin-right: 3px;
			}
		}

		&__vertical-line {
			color: $second-color;
			margin-right: 10px;

			@media (max-width: 800px) {
				margin-right: 7px;
			}
		
			@media (max-width: 600px) {
				margin-right: 5px;
			}
	
			@media (max-width: 400px) {
				margin-right: 3px;
			}
		}

		&__title {
			margin-right: 30px;

			@media (max-width: 800px) {
				margin-right: 20px;
			}
		
			@media (max-width: 600px) {
				margin-right: 12px;
			}
	
			@media (max-width: 400px) {
				margin-right: 8px;
			}
		}

		&__edit-btn{
			@media (max-width: 800px) {
				padding: 5px 15px;
				font-size: 18px;
			}
		
			@media (max-width: 600px) {
				padding: 5px 12px;
				font-size: 16px;
			}
	
			@media (max-width: 400px) {
				padding: 3px 10px;
				font-size: 14px;
			}
		}

		&__delite-btn img{
			height: 35px;
			margin-left: 10px;

			@media (max-width: 800px) {
				height: 30px;
			}
		
			@media (max-width: 600px) {
				height: 25px;
			}
	
			@media (max-width: 400px) {
				height: 20px;
			}
		}


		@media (max-width: 1600px) {
			font-size: 28px;
		}
	
		@media (max-width: 1400px) {
			font-size: 26px;
		}
	
		@media (max-width: 1200px) {
			font-size: 24px;
		}
	
		@media (max-width: 1000px) {
			font-size: 22px;
		}
	
		@media (max-width: 800px) {
			font-size: 20px;
			margin-bottom: 20px;
		}
	
		@media (max-width: 600px) {
			font-size: 17px;
			margin-bottom: 15px;
		}

		@media (max-width: 400px) {
			font-size: 14px;
			margin-bottom: 10px;
		}
	}


	@media (max-width: 800px) {
		width: 80%;
	}

	@media (max-width: 600px) {
		width: 90%;
	}

	@media (max-width: 400px) {
		width: 94%;
	}
}