@import './reset';
@import './base';
@import './animation';
@import './adaptation';


// Functions
@function weight($weight-name) {
	@return map-get($font-weights, $weight-name)
};


// Mixins
@mixin flexCenter ($direction: row) {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: $direction;
}

@mixin theme ($dark-theme: false) {
	@if $dark-theme {
		background-color: darken($background-color, 100%);
		color: lighten($primary-color, 100%);
	}
}


// ===HEADER===
header {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	font-size: 27px;

	.guide-btn {
		padding: 5px 15px;
	}
}


// helper classes
.dark {
	@include theme($dark-theme: true)
}

.light {
	@include theme($dark-theme: false)
}


// ===CREATE NEW PASTE===

.paste {
	display: flex;
	flex-direction: column;
	width: 70%;
	margin: 30px auto;

	input::placeholder, textarea::placeholder{
		color: $second-color;
		font-weight: weight(tiny);
	}

	&__title {
		font-size: 30px;
		margin-bottom: 10px;
	}
	
	&__author {
		font-size: 18px;
		margin-bottom: 20px;
	}

	&__text {
		font-size: 23px;
		min-height: 55vh;
		resize: none;
	}
}



footer {
	position: absolute;
	right: 5%;
	bottom: 10%;
	font-size: 27px;
	display: flex;
	justify-content: end;

	select {
		margin-right: 15px;
		appearance: none;
		cursor: pointer;
		padding: 10px;
		border-bottom: 1px solid $primary-color;
	}

	.base-btn{
		margin-right: 15px;
	}
}